<nav class="main-navbar">
    <img src="assets/logo.png" alt="Logo" />
    <a routerLink="/" class="logo-text">Job Nutrition</a>
  </nav>
  
  <!-- Main Content -->
  <div class="home-container">
    <div class="home-content">
      <div class="home-actions">
        <h1 class="home-title">A melhor loja de <br /> produtos naturais <br />pra você!!!</h1>
        
        <a routerLink="/produtos" class="home-btn-order">Entra no sistema</a>
        
      </div>
      <div class="home-image">
        <img class="imagem-central" src="assets/Fachada.jpg" alt="Main Illustration" />
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="main-footer">
    <p>Contatos: </p>
    <div class="social-icons">
      <p>(##) #####-#### </p>
    </div>
  </footer>